<% if @movie.errors.any? %>
  <div>
    <h2>There were errors!</h2>
    <p><%= @movie.errors.full_messages.to_sentence %></p>
  </div>
<% end %>

<%= form_for @movie do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :rating %>
  <%= f.text_field :rating, size: "5" %>

  <%= f.label :release_date %>
  <%= f.text_field :release_date %>

  <%= f.label :description %>
  <%= f.text_area :description, :cols => "30", :rows => "10" %>

  <p><%= f.submit "Submit" %></p>
<% end %>

<%= link_to "Back to movie list", movies_path %>
