<% movies.each do |movie| %>
  <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= link_to movie.title, movie_path(movie) %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.release_date %></td>
    <td><%= truncate(movie.description, length: 20) %>
    <%= link_to "more...", movie %></td>
    <% if current_user.admin %>
      <td> <%= movie.published %></td>
    <% end %>
  </tr>
<% end %>