<% movies.each do |movie| %>
  <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= movie.title %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.release_date %></td>
    <td><%= link_to "More about #{movie.title}", movie_path(movie) %></td>
  </tr>
<% end %>