<h1>All Movies</h1>

<table id="movies">
  <thead>
    <tr>
      <th class = "<%= @change_color_title %>"> <%= link_to "Movie Title", movies_path(movies_sort: "by_title") %> </th>
      <th>Rating</th>
      <th class = "<%= @change_color_release %>">  <%= link_to "Release Date", movies_path(movies_sort: "by_release") %></th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'movies', movies: @movies %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>
