<%= render 'checkboxes' %>
<h1>All Movies</h1>

<table id="movies">
  <thead>
    <tr>
      <th class = "<%= 'highlight' if session[:movies_sort] == 'title' %>">
        <%= sortable params[:movies_sort], movies_path(movies_sort: 'title') %>
      </th>
      <th>Rating</th>
      <th class = "<%= 'highlight' if session[:movies_sort] == 'release_date' %>" >
        <%= sortable params[:movies_sort], movies_path(movies_sort: 'release_date') %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'movies', movies: @movies %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>
